{{>navbar}}

<body>
    <form>
        <h1 class="h1">Pista Abierta 1</h1>
        <h1 class="h3">Precio: 10</h1>

        <label for="chooseDate">Fecha</label>
        <input type="date" id="bookingDate" required><br>
        <label for="startTime">Inicio</label>
        <input type="datetime-local" id="startTime" required><br>
        <label for="endTime">Fin</label>
        <input type="datetime-local" id="endTime" required><br>

        <button type="submit">Reservar</button>
    </form>
</body>
