{{>navbar}}

<div class="container mt-4">
    <h2 class="mb-4">Lista de Pistas</h2>
    {{#showModify}}
    <a href="/court/new" class="btn btn-primary">Crear Pista</a>
    {{/showModify}}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Horario</th>
            <th>Precio</th>
            <th>Reservas</th>
            {{#showModify}}
           <th>Modificar</th>
            {{/showModify}}

        </tr>
        </thead>
        <tbody>
        {{#courts}}
        <tr>
            <td>{{name}}</td>
            <td>{{start}} - {{end}}</td>
            <td>{{price}}</td>
            <td>
                <a href="/court/{{id}}" class="btn btn-warning">Reservar</a>
            </td>
            {{#showModify}}
            <td>
                <a href="/court/{{id}}/modify" class="btn btn-warning">Modificar</a>
            </td>
            {{/showModify}}
        </tr>
        {{/courts}}
        </tbody>
    </table>
</div>