{{>navbar}}

<div class="container mt-4">
    <h2 class="mb-4">Lista de Pistas</h2>
    {{#showModify}}
    <a href="/court/new" class="btn btn-primary">Crear Pista</a>
    {{/showModify}}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Horario</th>
            <th>Precio</th>
            <th>Reservas</th>
            {{#showModify}}
           <th>Modificar</th>
            <th>Eliminar</th>
            {{/showModify}}

        </tr>
        </thead>
        <tbody>
        {{#courts}}
        <tr>
            <td>{{name}}</td>
            <td>{{start}} - {{end}}</td>
            <td>{{price}}</td>
            <td>
                <a href="/court/{{id}}" class="btn btn-warning">Reservar</a>
            </td>
            {{#showModify}}
            <td>
                <a href="/court/{{id}}/modify" class="btn btn-warning">Modificar</a>
            </td>
            <td>
                <a href="/court/{{id}}/delete" class="btn btn-danger">Eliminar</a>
            </td>
            {{/showModify}}
        </tr>
        {{/courts}}
        </tbody>
    </table>
    <div class=" container shadow-none p-5 mt-5 mx-auto">
        <nav>
            <ul class="pagination justify-content-center">
                {{#previousPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{previousPage}}">Anterior</a></li>
                {{/previousPage}}
                {{#pages}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{.}}">{{.}}</a></li>
                {{/pages}}
                {{#nextPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{nextPage}}">Siguiente</a></li>
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>