{{>navbar}}

<body>
    {{#court}}
    <form action="/court/book" method="post">
        <h1 class="h1">{{name}}</h1>
        <h1 class="h3 fw-normal">Precio: {{price}}</h1><br><br>

        <label for="chooseDate">Fecha</label><br>
        <input type="date" name= "date" id="bookingDate" required><br>
        <label for="startTime">Inicio</label><br>
        <input type="time" name= "start" id="startTime" required><br>
        <label for="endTime">Fin</label><br>
        <input type="time" name= "end" id="endTime" required><br>

        <button type="submit" >Reservar</button>
    </form>
    {{/court}}
</body>
