{{>navbar}}

<div class="container mt-4">
    <h2 class="mb-4">Lista de Pistas</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Horario</th>
            <th>Precio</th>

        </tr>
        </thead>
        <tbody>
        {{#courts}}
        <tr>
            <td>{{name}}</td>
            <td>{{start}} - {{end}}</td>
            <td>{{price}}</td>
            <td>
                <a href="/court/{{id}}" class="btn btn-warning">Reservar</a>
            </td>

        </tr>
        {{/courts}}
        </tbody>
    </table>
</div>