{{>navbar}}
<main class="form-signin w-25 m-auto my-5">
    <form action="/login" method="post">
        <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

        {{#error}}
        <div class="alert alert-danger">
            Usuario o contraseña incorrectos
        </div>
        {{/error}}

        <div class="form-floating my-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">

            <label for="username">Username</label>
        </div>
        <div class="form-floating my-2">
            <input type="password" class="form-control  {{#invalid}}is-invalid{{/invalid}}" id="password" name="password" placeholder="Contraseña">

            <label for="password">Contraseña</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
</main>
