{{>navbar}}
{{#match}}
<table class="table container text-center">
    <thead>
    <tr>
        <th scope="col">Local</th>
        <th scope="col">Resultado</th>
        <th scope="col">Visitante</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/profile/{{local.username}}">@{{local.username}}</a></td>
            <td>{{result}}</td>
            <td><a href="/profile/{{visitor.username}}">@{{visitor.username}}</a></td>
        </tr>
    </tbody>
</table>

<h3 class="container text-center"> Ganador @{{winner.username}}
</h3>

{{#owner}}
<div class="container text-center">
    <button type="button" class="btn btn-primary">Modificar</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
</div>
{{/owner}}
{{/match}}