{{#matches}}
<a href="/match/{{id}}" class="m-2 card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="p-2 row">
        <div class="col text-start">@{{local.username}}</div>
        <div class="col text-center">Vs.</div>
        <div class="col text-end">@{{visitor.username}}</div>
    </div>
    <div class="card-body align-text-center text-center border-top">
        <span>{{result}}</span>
    </div>
</a>
{{/matches}}
<div class=" container shadow-none p-5 mt-5 mx-auto">
    <nav>
        <ul class="pagination justify-content-center">
            {{#previousPage}}
            <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{previousPage}}">Anterior</a></li>
            {{/previousPage}}
            {{#pages}}
            <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{.}}">{{.}}</a></li>
            {{/pages}}
            {{#nextPage}}
            <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{nextPage}}">Siguiente</a></li>
            {{/nextPage}}
        </ul>
    </nav>
</div>
{{^matches}}
<h4>Aún no hay partidos</h4>
{{/matches}}