{{>navbar}}
{{#user}}
<div class="container text-center">
    <div class="row">
        <div class="col">
            {{#profilePictureUrl}}
            <img class="profile-picture" src="{{.}}" alt="Foto de Perfil">
            {{/profilePictureUrl}}
            @{{username}}
            {{#showModify}}
            <div class="container text-center">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/profile/{{username}}/modify'">Modificar</button>
            </div>
            {{/showModify}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{name}}
        </div>
        <div class="col">
            <span>Estadísticas</span>
            {{statistics}}
        </div>
        <div class="col">
            {{>matches_macro}}
        </div>
    </div>
</div>
{{/user}}