<div class="container mt-4">
    <h2 class="mb-4">Lista de Torneos</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Precio</th>
            <th>Teléfono</th>
            <th>Detalles</th>
            {{#showModify}}
            <th>Modificar</th>
            <th>Borrar</th>
            {{/showModify}}
        </tr>
        </thead>
        <tbody>
        {{#tournaments}}
        <tr>
            <td>{{name}}</td>
            <td>{{initDate}}</td>
            <td>{{endDate}}</td>
            <td>{{price}}</td>
            <td>123456789</td>

            <td>
                <a href="/tournament/{{id}}" class="btn btn-info">Ver Detalles</a>
            </td>
            {{#showModify}}
            <td>
                <a href="/tournament/{{id}}/modify" class="btn btn-warning">Modificar</a>
            </td>
            <td>
                <a href="/tournament/{{id}}/delete" class="btn btn-danger">Borrar</a>
            </td>
            {{/showModify}}
        </tr>
        {{/tournaments}}
        </tbody>
    </table>
    <div class=" container shadow-none p-5 mt-5 mx-auto">
        <nav>
            <ul class="pagination justify-content-center">
                {{#previousPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{previousPage}}">Anterior</a></li>
                {{/previousPage}}
                {{#pages}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{.}}">{{.}}</a></li>
                {{/pages}}
                {{#nextPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{nextPage}}">Siguiente</a></li>
                {{/nextPage}}
            </ul>
        </nav>
    </div>

    {{^tournaments}}
    <h4>No hay torneos disponibles en este momento.</h4>
    {{/tournaments}}
</div>