{{>navbar}}

{{#tournament}}
<body>

</body>
<div class="container text-center">
    <div class="row">

        <h2>{{name}}</h2>

        <div class="row">
            <div class="col">
                <h4>Fechas</h4>
                <p>Inicio: {{initDate}}</p>
                <p>Fin: {{endDate}}</p>
            </div>
            <div class="col">
                <h4>Precio</h4>
                <p>${{price}}</p>
            </div>

        </div>
        <div class="row">

            <div class="col">
                <h4>Clasificación</h4>
                {{#participants}}
                    <p>{{username}}</p>
                {{/participants}}
                {{^participants}}
                    <p>No hay jugadores inscritos aún.</p>
                {{/participants}}
            </div>


            <div class="col">
                <h4>Partidos</h4>
                {{#matches}}
                <p>
                    <strong>Fecha:</strong> {{date}} <br>
                    <strong>Local:</strong> {{local.username}} <br>
                    <strong>Visitante:</strong> {{visitor.username}} <br>
                    <strong>Pista:</strong> {{court.id}} <br>
                    <strong>Resultado:</strong> {{result}} <br>
                    <strong>Ganador:</strong> {{winner.username}}
                </p>
                {{/matches}}
                {{^matches}}
                <p>No hay partidos.</p>
                {{/matches}}
            </div>

        </div>
    </div>
</div>

{{/tournament}}