{{>navbar}}

<main class="form-signin w-25 m-auto my-5">
<h1>Nuevo Torneo</h1>
<form action="/tournament/{{action}}" method="post">
  <input type="hidden" name="_csrf" value="{{token}}"/>
  <h1 class="h3 mb-3 fw-normal">{{actionName}} Torneo</h1>
  <div class="form-floating my-2">
    <input required type="text" class="form-control" id="name" name="name" placeholder="Nombre" {{#tournament}}value="{{name}}"{{/tournament}}>
    <label for="name">Nombre</label>
  </div>

  <div class="form-floating my-2">
    <input required type="date" class="form-control" id="initDate" name="initDate" placeholder="Fecha inicio" {{#tournament}}value="{{initDate}}"{{/tournament}}>
    <label for="name">Fecha inicio</label>
  </div>

  <div class="form-floating my-2">
    <input required type="date" class="form-control" id="endDate" name="endDate" placeholder="Fecha fin" {{#tournament}}value="{{endDate}}"{{/tournament}}>
    <label for="name">Fecha fin</label>
  </div>

  <div class="form-floating my-2">
    <input required type="int" class="form-control" id="price" name="price" placeholder="Precio" {{#tournament}}value="{{price}}"{{/tournament}}>
    <label for="name">Precio</label>
  </div>

  <button class="btn btn-primary w-100 py-2" type="submit">{{actionName}} Torneo</button>
</form>
</main>