{{>navbar}}

<div class="container mt-4">
    <h2 class="mb-4">Usuarios</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Nombre</th>
            <th>Foto de perfil</th>
            <th>Borrar</th>

        </tr>
        </thead>
        <tbody>
        {{#users}}
        {{^admin}}
        <tr>
            <td><a href="/profile/{{username}}">@{{username}}</a></td>
            <td>{{name}}</td>
            <td>
                <img class="profile-picture" src="/profile-picture/{{username}}" alt="Foto de Perfil">
            </td>
            <td>
                <a href="/users/delete/{{username}}" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        {{/admin}}
        {{/users}}
        </tbody>
    </table>

    <div class=" container shadow-none p-5 mt-5 mx-auto">
        <nav>
            <ul class="pagination justify-content-center">
                {{#previousPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{previousPage}}">Anterior</a></li>
                {{/previousPage}}
                {{#pages}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{.}}">{{.}}</a></li>
                {{/pages}}
                {{#nextPage}}
                <li class="page-item"><a class="page-link bg-btn white-text" href="?page={{nextPage}}">Siguiente</a></li>
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>
